.additional {
  padding-top: 25px;

  @media (min-width: @tablet-width) {
    padding-top: 67px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 74px;
  }
}

.additional__title {
  position: relative;
  font-size: 24px;
  line-height: 24px;
  padding-bottom: 34px;
  border-bottom: 1px solid @border;

  @media (min-width: @tablet-width) {
    padding-bottom: 81px;
    padding-left: 37px;
    font-size: 36px;
    line-height: 36px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
  }

  &::before {
    position: absolute;
    top: 14px;
    left: 247px;
    right: -20px;
    height: 2px;
    background-color: #68b738;
    content: "";

    @media (min-width: @tablet-width) {
      left: 411px;
      top: 22px;
      right: -30px;
    }

    @media (min-width: @desktop-width) {
      left: 373px;
      top: 23px;
      right: -110px;
    }
  }

  &::after {
    @media (min-width: @tablet-width) {
      position: absolute;
      top: 22px;
      left: -9999px;
      right: 708px;
      height: 2px;
      background-color: #68b738;
      content: "";
    }

    @media (min-width: @desktop-width) {
      top: 23px;
      right: 1260px;
    }
  }
}

.additional__wrap {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.additional__list {
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    margin-bottom: 67px;
    border: 1px solid @products-card-border;
  }

  @media (min-width: @desktop-width) {
    max-width: 895px;
    margin-bottom: 0;
    margin-right: 82px;
    border-right: none;
    border-left: none;
  }
}

.additional__item {
  position: relative;
  padding-top: 13px;
  padding-bottom: 18px;
  border-bottom: 1px solid @border;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 275px 253px;
    column-gap: 103px;
    row-gap: 24px;
    padding: 26px 38px 28px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 288px 287px 244px;
    column-gap: 37px;
    padding: 14px 0 17px;
  }

  &::before {
    position: absolute;
    top: -1px;
    bottom: 1px;
    left: -20px;
    right: 0;
    content: "";
    height: 1px;
    background-color: @border;
  }

  &::after {
    position: absolute;
    top: -1px;
    bottom: 1px;
    left: 0;
    right: -20px;
    content: "";
    height: 1px;
    background-color: @border;
  }
}

.additional-products__title {
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @dark-grey;

  @media (min-width: @tablet-width) {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 10px;
  }
}

.additional-products__description {
  display: grid;
  grid-template-columns: 150px 60px;
  column-gap: 70px;
  margin-bottom: 15px;
  line-height: 14px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 160px 70px;
    column-gap: 22px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    column-gap: 84px;
    padding-top: 14px;
  }
}

.additional-products__size {
  @media (min-width: @tablet-width) {
    text-align: end;
  }

  @media (min-width: @desktop-width) {
    text-align: start;
  }
}

.additional-products__number {
  text-align: end;

  @media (min-width: @desktop-width) {
    text-align: start;
  }
}

.additional__button {
  padding: 10px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 3;
    min-width: 100%;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
