.additional {
  padding-top: 25px;
}

.additional__title {
  font-size: 24px;
  line-height: 24px;
  padding-bottom: 36px;
}

.additional__title,
.additional__item {
  border-bottom: 1px solid @border;
}

.additional__list {
  margin-bottom: 35px;
}

.additional__item {
  padding-top: 13px;
  padding-bottom: 19px;
}

.additional-products__title {
  margin-bottom: 13px;
  color: @dark-grey;
}

.additional-products__description {
  margin-bottom: 15px;
}
