.catalog-main {
  padding-top: 27px;
  padding-bottom: 35px;

  @media (min-width: @tablet-width) {
    padding-top: 23px;
    padding-bottom: 76px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 5px;
  }
}

.catalog-main__title {
  font-size: 36px;
  line-height: 36px;
  padding-bottom: 41px;
  border-bottom: 1px solid @border;

  @media (min-width: @tablet-width) {
    margin-bottom: 122px;
    font-size: 60px;
    line-height: 60px;
    border: none;
  }
}

.catalog-container {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}
