.catalog-main {
  padding-top: 27px;
  padding-bottom: 35px;
}

.catalog-main__title {
  font-size: 36px;
  line-height: 36px;
  padding-bottom: 41px;
  border-bottom: 1px solid @border;

  @media (min-width: @tablet-width) {
    margin-bottom: 90px;
    font-size: 60px;
    line-height: 60px;
    border: none;
  }
}
