.present {
  min-width: 280px;
  min-height: 290px;
  background-image: linear-gradient(0deg, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/present_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover, contain;
  background-position: center;
}

.present-title {
  max-width: 161px;
  margin: 0 auto;
  padding-top: 187px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @base-white;
}
