.additional__present {
  min-width: 280px;
  height: 290px;
  background-image: linear-gradient(0deg, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/present_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover, contain;
  background-position: center;

  @media (min-width: @tablet-width) {
    height: 200px;
    background-size: cover;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    height: 289px;
  }
}

.additional__present-title {
  max-width: 161px;
  margin: 0 auto;
  padding-top: 187px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @base-white;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-left: auto;
    padding-top: 70px;
    padding-right: 124px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    padding: 0;
    padding-top: 185px;
  }
}
