.products {
  margin: 0 auto;
}

.products__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    grid-template-columns: 324px 324px;
    grid-auto-rows: 430px;
    column-gap: 60px;
    row-gap: 141px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 245px);
    grid-auto-rows: 431px;
    column-gap: 80px;
    row-gap: 142px;
  }
}

.products__item {
  position: relative;
  padding: 19px 0 25px;
  border-bottom: 1px solid @border;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 37px;
    padding-bottom: 38px;
    padding-left: 39px;
    text-align: center;
    background-color: @base-grey;
    border: none;
  }

  @media (min-width: @desktop-width) {
    padding-top: 15px;
    padding-bottom: 37px;
  }

  &::before {
    position: absolute;
    top: -1px;
    bottom: 1px;
    left: -20px;
    right: 0;
    content: "";
    height: 1px;
    background-color: @border;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &::after {
    position: absolute;
    top: -1px;
    bottom: 1px;
    left: 0;
    right: -20px;
    content: "";
    height: 1px;
    background-color: @border;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.products__item:nth-child(2n) {
  @media (min-width: @desktop-width) {
    padding-top: 17px;
  }
}

.products__item:last-child {
  @media (min-width: @tablet-width) {
    background-color: @base-white;
    border: 2px solid @base-grey;
  }

  @media (min-width: @desktop-width) {
    padding-left: 37px;
  }
}

.products__item:last-child h2,
.products__item:last-child p {
  text-align: center;
}
