.products__item {
  padding-top: 19px;
  padding-bottom: 25px;
  border-bottom: 1px solid @border;
}

.products__item:last-child h2,
.products__item:last-child p {
  text-align: center;
}

.card__wrap {
  margin-bottom: 13px;
}

.card__title {
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @dark-grey;
}

.card__text {
  margin-bottom: 21px;
}

.card__button--more {
  color: @special-dark-grey;
  background-color: @base-grey;
}
