body {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  .size14;
  line-height: 18px;
  color: @special-dark-grey;
  background-color: tomato;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

h2,
h3,
dt,
.example__cost,
.example__slider-label,
.contacts__text {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

ul,
ol,
dl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p,
dd {
  margin: 0;
}
