.button {
  display: inline-block;
  box-sizing: border-box;
  min-width: 280px;
  padding: 7px;
  color: @base-white;
  background-color: @base-green;
  text-transform: uppercase;
  text-align: center;
}
