.contacts {
  margin-bottom: 26px;
  line-height: 20px;
}

.contacts__text {
  margin-right: 12px;
  font-size: 16px;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: @tablet-width) {
    width: 172px;
    margin-right: auto;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  font-style: normal;

  @media (min-width: @tablet-width) {
    width: 200px;
    text-align: right;
    font-size: 20px;
  }
}
