.example {
  margin: 0 auto;
  padding-top: 25px;
  background-color: @example-bg;

  @media (min-width: @tablet-width) {
    background-color: @base-white;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
    padding: 0 110px;
    background: linear-gradient(to bottom, @base-white 23%, @example-bg 23%);
  }
}


.example-container {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    max-width: 435px;
    margin-right: 197px;
    padding: 0;
  }
}

.example__title {
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: @tablet-width) {
    margin-bottom: 63px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-bottom: 146px;
  }
}

.example__content,
.example__list {
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    margin-bottom: 40px;
  }
}

.example__content {
  @media (min-width: @tablet-width) {
    max-width: 700px;
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-bottom: 70px;
  }
}

.example__information {
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
  }
}

.example__list-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 162px 162px;
    column-gap: 42px;
    grid-row: 1/-1;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/-1;
    grid-row: 1/2;
    max-width: 366px;
  }
}

.example__list--weight {
  @media (min-width: @tablet-width) {
    grid-column: 1/2;
  }
}

.example__list--day {
  @media (min-width: @tablet-width) {
    grid-column: 2/3;
  }
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__value {
  font-size: 24px;
  line-height: 24px;
  color: @base-black;
  text-align: center;
  border: 1px solid @products-card-border;
  border-radius: 3px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }

  &--weight {
    padding: 15px 42px;

    @media (min-width: @tablet-width) {
      padding: 15px 56px 20px;
    }
  }

  &--day {
    padding: 15px 20px;

    @media (min-width: @tablet-width) {
      padding: 15px 29px 20px;
    }
  }
}

.example__parameter {
  padding: 0 14px;
  margin-top: -10px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: @example-bg;

  @media (min-width: @tablet-width) {
    padding: 0 10px;
    font-size: 14px;
    line-height: 14px;
    background-color: @base-white;
  }

  @media (min-width: @desktop-width) {
    background-color: @example-bg;
  }
}

.example__parameter br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.example__cost {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    max-width: 330px;
    grid-column: 2/3;
    grid-row: 1/-1;
    display: block;
    padding-top: 11px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: flex-start;
    grid-column: 1/-1;
    grid-row: 2/3;
    padding-top: 13px;
  }
}

.example__text {
  text-transform: uppercase;
  text-align: center;
  margin-right: 5px;

  @media (min-width: @tablet-width) {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-right: 2px;
    margin-bottom: 9px;
    text-align: end;
  }

  @media (min-width: @desktop-width) {
    margin-right: 64px;
  }
}

.example__number {
  @media (min-width: @tablet-width) {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: end;
  }
}

.example__slidecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    background: linear-gradient(to bottom, @base-white 27%, @example-bg 27%);
  }

  @media (min-width: @desktop-width) {
    margin-top: -41px;
    background: linear-gradient(to bottom, @base-white 28%, @example-bg 28%);
  }
}

.example__slider-image {
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
    width: 592px;
    height: 511px;
    padding-bottom: 23px;
  }
}

.example__slider-label {
  padding-bottom: 46px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 100%;
    padding-bottom: 62px;
    font-size: 20px;
    line-height: 30px;
    background-color: @example-bg;
  }
}

.example__slider {
  max-width: 95px;
  margin: 0 13px;

  @media (min-width: @tablet-width) {
    min-width: 426px;
    margin: 0 23px;
  }
}
