.program-form {
  padding-bottom: 31px;
  font-size: 16px;

  @media (min-width: @tablet-width) {
    padding-bottom: 54px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    column-gap: 80px;
    width: 1220px;
    margin: 0 auto;
    padding-bottom: 63px;
  }
}

.program-form__group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.program-form__group--about-cat {
  margin-bottom: 8px;

  @media (min-width: @tablet-width) {
    margin-bottom: 56px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
    grid-column: 1/3;
    margin-bottom: 50px;
  }
}

.program-form__group--objective {
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    margin-bottom: 78px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 3/5;
    margin: 0;
  }
}

.program-form__group--contacts {
  margin-bottom: 8px;

  @media (min-width: @tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    display: grid;
    grid-template-columns: 568px 568px;
    column-gap: 81px;
    grid-column: 1/5;
    margin-bottom: 48px;
  }
}

.program-form__group--contacts .program-form__title {
  @media (min-width: @tablet-width) {
    max-width: 560px;
  }
}

.program-form__group--contacts br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.program-form__group--contacts::before {
  position: absolute;
  top: -73px;
  left: 201px;
  right: -9999px;
  height: 2px;
  background-color: #68b738;
  content: "";

  @media (min-width: @tablet-width) {
    top: -90px;
    left: 555px;
  }

  @media (min-width: @desktop-width) {
    left: 553px;
  }
}

.program-form__group--contacts::after {
  @media (min-width: @tablet-width) {
    position: absolute;
    top: -90px;
    left: -9999px;
    right: 668px;
    height: 2px;
    background-color: #68b738;
    content: "";
  }

  @media (min-width: @desktop-width) {
    right: 1260px;
  }
}

.program-form__group--comment {
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    margin-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    grid-column: 1/-1;
    margin-bottom: 61px;
  }
}

.program-form__group--comment::before {
  position: absolute;
  top: -48px;
  left: 143px;
  right: -9999px;
  height: 2px;
  background-color: #68b738;
  content: "";

  @media (min-width: @tablet-width) {
    top: -90px;
    left: 219px;
  }

  @media (min-width: @desktop-width) {
    top: -91px;
    left: 223px;
  }
}

.program-form__group--comment::after {
  @media (min-width: @tablet-width) {
    position: absolute;
    top: -90px;
    left: -9999px;
    right: 669px;
    height: 2px;
    background-color: #68b738;
    content: "";
  }

  @media (min-width: @desktop-width) {
    top: -91px;
    right: 1260px;
  }
}

.program-form__group--additional::before {
  position: absolute;
  top: -49px;
  right: -9999px;
  bottom: 0;
  left: 164px;
  height: 2px;
  background: #68b738;
  content: "";

  @media (min-width: @tablet-width) {
    top: -90px;
    left: 251px;
  }

  @media (min-width: @desktop-width) {
    top: -91px;
  }
}

.program-form__group--additional::after {
  @media (min-width: @tablet-width) {
    position: absolute;
    top: -90px;
    left: -9999px;
    right: 669px;
    height: 2px;
    background-color: #68b738;
    content: "";
  }

  @media (min-width: @desktop-width) {
    top: -91px;
    right: 1260px;
  }
}

.program-form__title {
  max-width: 200px;
  margin-bottom: 37px;
  padding: 0;
  font-size: 24px;
  line-height: 26px;
  color: @base-black;

  @media (min-width: @tablet-width) {
    max-width: 300px;
    margin-bottom: 77px;
    font-size: 36px;
    line-height: 36px;
  }
}

.program-form__field-wrap {
  display: flex;
  margin: 0;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }
}

.program-form__label {
  position: relative;
  text-transform: uppercase;
}

.program-form__field {
  min-height: 45px;
  box-sizing: border-box;
  margin: 0;
  margin-left: 8px;
  padding: 13px 15px;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  outline: 1px solid @form-border;
}

.program-form__field[type="number"]::-webkit-outer-spin-button,
.program-form__field[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.program-form__field[type="number"] {
  -moz-appearance: textfield;
}

.program-form__field[type="number"]:hover,
.program-form__field[type="number"]:focus {
  -moz-appearance: number-input;
}

.program-form__field:focus {
  outline: 2px solid @special-dark-grey;
}

.program-form__field:hover {
  outline: 2px solid @light-grey;
}

.program-form__field--error {
  outline: 2px solid #ff8282;
  outline-offset: -2px;
}

.program-form__field::placeholder {
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: @special-dark-grey;
  opacity: 1;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

/*.program-form__field::-moz-placeholder {
  color: @special-dark-grey;
}

.program-form__field:-moz-placeholder {
  color: @special-dark-grey;
}*/

.program-form__field--name {
  width: 227px;
  padding-left: 14px;
  margin-left: 10px;

  @media (min-width: @tablet-width) {
    width: 565px;
    padding-top: 19px;
    padding-left: 20px;
    margin-left: 12px;
  }

  @media (min-width: @desktop-width) {
    width: 505px;
  }
}

.program-form__field--weight {
  width: 205px;
  margin-left: 12px;
  padding-left: 17px;

  @media (min-width: @tablet-width) {
    width: 538px;
    margin-left: 12px;
    padding-left: 24px;
    padding-top: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 478px;
  }
}

.program-form__field--age {
  width: 171px;
  margin-left: 10px;

  @media (min-width: @tablet-width) {
    width: 495px;
    margin-left: 12px;
    padding-top: 21px;
    padding-left: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 435px;
  }
}

.program-form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.program-form__list--objective {
  padding-top: 26px;
  padding-bottom: 26px;
  border-top: 1px solid @border;
  border-bottom: 1px solid @border;

  @media (min-width: @tablet-width) {
    width: 630px;
    margin: 0 auto;
    padding-top: 28px;
    border: 1px solid @border;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
  }
}

.program-form__item--objective {
  @media (min-width: @tablet-width) {
    max-width: 600px;
    padding-left: 28px;
  }

  @media (min-width: @desktop-width) {
    max-width: 550px;
  }
}

.program-form__item:not(:last-child) {
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 23px;
  }
}

.program-form__field--email {
  width: 219px;
  padding-right: 45px;

  @media (min-width: @tablet-width) {
    width: 546px;
    padding-top: 19px;
    padding-left: 21px;
    margin-left: 16px;
  }

  @media (min-width: @desktop-width) {
    width: 486px;
  }
}

.program-form__field--email + svg {
  position: absolute;
  top: 14px;
  right: 15px;
  stroke: @dark-grey;

  @media (min-width: @tablet-width) {
    top: 17px;
    right: 14px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 19px;
    right: 16px;
  }
}

.program-form__field--email:focus + svg {
  stroke: @base-green;
}

.program-form__field--email.program-form__field--error + svg {
  stroke: #ff8282;
}

.program-form__field--tel {
  width: 202px;
  padding-right: 50px;

  @media (min-width: @tablet-width) {
    width: 529px;
    padding-top: 21px;
    padding-left: 19px;
    margin-left: 10px;
  }

  @media (min-width: @desktop-width) {
    width: 468px;
    padding-top: 20px;
    margin-left: 12px;
  }
}

.program-form__field--tel + svg {
  position: absolute;
  top: 11px;
  right: 13px;
  fill: @base-black;

  @media (min-width: @tablet-width) {
    top: 16px;
    right: 11px;
  }

  @media (min-width: @desktop-width) {
    top: 15px;
    right: 12px;
  }
}

.program-form__field--tel:focus + svg {
  fill: @base-green;
}

.program-form__field--tel.program-form__field--error + svg {
  fill: #ff8282;
}

.program-form__comment {
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  padding: 9px 13px;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: uppercase;
  color: @special-dark-grey;
  border: 1px solid @form-border;

  @media (min-width: @tablet-width) {
    padding: 8px 18px;
    height: 174px;
  }
}

.program-form__list--additional {
  display: grid;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 282px 282px;
    column-gap: 61px;
    row-gap: 17px;
    margin-top: -13px;
    margin-bottom: 36px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 243px);
    column-gap: 81px;
    margin-bottom: 41px;
  }
}

.program-form__button-wrap {
  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    grid-column: 1/-1;
  }
}

.program-form__button {
  margin-bottom: 18px;
  padding: 10px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    width: 282px;
    padding: 16px;
    margin-right: 61px;
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/3;
    width: 568px;
    margin-right: 81px;
  }
}

.program-form__text {
  margin: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-top: 11px;
    font-size: 16px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 13px;
  }
}
